.detalleCredito-logo{
    text-align: center;
    width: 100vw;
    height: 100vh;
    
}

.logo-detalles {
    margin: 1rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
}

.informacion{
    margin-top: 2rem;
    width: 90%;
    margin-left: 5%;
}

.detalle-titulo {
    margin-top: 3%;
    color: #9E002F;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 18px;
text-align: left;
letter-spacing: -0.165px;
}

.siguiente-btn {
    margin-top: 3rem;
    background-color: #9E002F;
    color:#FFFFFF;
    -webkit-appearance: none; -moz-appearance: none;
   display: block;
   margin: 1.5em 0;
   font-size: 1em; line-height: 2.5em;
   font-weight: bold;
   height: 2.5em; width: 100%;
   border: 1px solid #bbb;
   -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
  }
  .detalle-texto {
    margin-top: 2rem;
    text-align: left;
    width: 75%;
    margin-left: 5%;
    color: #000000;
    font-size: 20px;
  }